<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,
  initial-scale=1.0">
  <link rel="stylesheet" href="../static/stylesheets/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  <title>myCookingBook</title>
</head>
<body>
<header>
  <h1>My Cooking Book</h1>
  <div class="recipeSearch"><div class="spec"><input id="input" type="text" placeholder="With which ingredient do you want to cook? " ><button class="load">My List</button></div><i id="look" class="fas fa-search fa-2x"></i></div>
  
</header>
<section id="main">
 
</section>
  <script src="static/scripts/recipes.js"></script>
</body>
</html>
